<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
  @if (order(); as o) {
    <div>
      <h1 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Thank you for your order!</h1>
      <p class="mt-2 text-base text-gray-300">Your order has been placed successfully. A confirmation has been sent to your (mock) email.</p>
    </div>

    <section aria-labelledby="order-heading" class="mt-10 border-t border-gray-700">
      <h2 id="order-heading" class="sr-only">Your order</h2>
      <h3 class="sr-only">Items</h3>
      @for (item of o.items; track item.movie.id) {
        <div class="flex space-x-6 border-b border-gray-700 py-10">
          <img [src]="item.movie.posterUrl" [alt]="item.movie.title" class="h-20 w-20 flex-none rounded-lg bg-gray-800 object-cover object-center">
          <div class="flex flex-auto flex-col">
            <div>
              <h4 class="font-medium text-white hover:text-gray-300">
                <a [routerLink]="['/movie', item.movie.id]">{{ item.movie.title }}</a>
              </h4>
            </div>
            <div class="mt-6 flex flex-1 items-end">
              <dl class="flex space-x-4 divide-x divide-gray-700 text-sm sm:space-x-6">
                <div class="flex">
                  <dt class="font-medium text-white">Quantity</dt>
                  <dd class="ml-2 text-gray-400">{{ item.quantity }}</dd>
                </div>
                <div class="flex pl-4 sm:pl-6">
                  <dt class="font-medium text-white">Price</dt>
                  <dd class="ml-2 text-gray-400">$ {{ (item.movie.rating * 2 * item.quantity).toFixed(2) }}</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      }

      <div class="sm:ml-40 sm:pl-6">
        <dl class="space-y-6 border-t border-gray-700 pt-10 text-sm">
          <div class="flex justify-between">
            <dt class="font-medium text-white">Total</dt>
            <dd class="font-medium text-white">$ {{ o.total.toFixed(2) }}</dd>
          </div>
        </dl>
      </div>
    </section>
    <div class="mt-10">
        <a routerLink="/movies" class="rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Continue Shopping</a>
    </div>
  } @else {
    <p class="text-center text-gray-400">Loading order details...</p>
  }
</div>
